<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <script src="{{url_for('static',filename='js/bootstrap.bundle.js')}}"></script> 

    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RBS Robotics And Programming Club</title>

</head>

<body> 
    {% block content %}
    {% endblock %}
</body>
</html>
